doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    block assets
  body
    // Header
    ul#nav
      li#home
        a(href="/") Home
      - if (user) {
          li#today Today
          li#journal #{user.firstName}'s Journal
          li#signout 
             a(href="/logout") Logout
      - } else {
         li#signin 
            a(href="/login") Login
         li#register
            a(href="/register") Register
      - }

    // Content
    #container
      block content
